# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- Demonstrate basic arithmetic expressions in Python.
- Showcase how to convert minutes to hours using Python.
- Provide an overview of Data Science tools and ecosystems.

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

## Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Jonas Sousa